<div id="reflectie-container">
  <div id="kernkwaliteiten" class="sub-container">
    <button class="download-button" (click)="downloadPdf()">Download Kernkwaliteiten</button>
    <div class="image-container">
      <img alt="screenshot pitch" src="assets/images/wpl3/reflectie/ref1.png">
      <img alt="screenshot pitch" src="assets/images/wpl3/reflectie/ref2.png">
    </div>
    <div class="image-container">
      <img alt="screenshot pitch" src="assets/images/wpl3/reflectie/ref3.png">
      <img alt="screenshot pitch" src="assets/images/wpl3/reflectie/ref4.png">
    </div>

    <div id="eindreflectie">
      <h2>Eindreflectie op Werkplekleren 3</h2>

      <b>Positieve realisaties</b>
      <p>
        Een positieve realisatie tijdens WPL3 was mijn vermogen om effectief samen te werken in multidisciplinaire
        teams. Dit werd met name gewaardeerd bij het ontwerpen en implementeren van softwareprojecten.
      </p>
      <b>Positief op de werkplek</b>
      <p>
        De positieve werksfeer en de gestructureerde aanpak van projecten bij mijn werkplek hebben een blijvende
        indruk op mij achtergelaten. Het open communicatieklimaat en de bereidheid om samen oplossingen te vinden,
        hebben mijn werkplekervaring positief beïnvloed.
      </p>


      <b>Moeilijke punten</b>
      <p>
        Het gebied waarop ik persoonlijk moeite heb ervaren, was het verbeteren van mijn testvaardigheden en het
        nauwkeuriger identificeren van verbeterpunten. Dit is een leerpunt waar ik aan wil werken.
      </p>


      <b>Samenwerking</b>
      <p>
        De samenwerking met mijn werkplekcoach en collega's verliep over het algemeen goed. Een werkpunt voor mij is
        om nog actiever deel te nemen aan overlegmomenten en mijn bijdrage te vergroten.
      </p>

      <b>Beeld van de job</b>
      <p>
        Mijn werkplekleren in WPL3 sluit goed aan bij het beeld dat ik heb van de toekomstige job als een Graduaat
        Programmeren. Ik kon mijn ontwerp- en programmeervaardigheden verder ontwikkelen en werken binnen een
        professionele IT-omgeving.
      </p>


      <b>Reflectie op de X-factor</b>
      <p>
        Mijn werkzaamheden tijdens WPL3 zijn sterk verbonden met de X-factor. Mijn passie voor softwareontwikkeling
        kwam tot uiting in mijn betrokkenheid bij projecten, mijn ondernemende houding in het oppakken van
        verantwoordelijkheden, en mijn innovatieve bijdragen aan teamoplossingen.

        De (em)passie-component van de X-factor komt tot uiting in mijn energieke aanpak van taken en mijn constante
        nieuwsgierigheid naar innovatieve oplossingen. Mijn basis van verandering en innovatie komt voort uit mijn
        passie voor het vakgebied.

        Het (internationaal) samen(net)werken aspect is zichtbaar in mijn actieve deelname aan multidisciplinaire teams,
        mijn bereidheid om kennis te delen en samen te werken met verschillende belanghebbenden, zoals collega's,
        lectoren en andere opleidingen.
      </p>

      <h2>Vooruitblikken op WPL4</h2>

      <b>Waaraan wil je werken op de werkplek tijdens WPL4?</b>
      <p>
        Tijdens WPL4 wil ik mijn testvaardigheden verder verbeteren en me meer richten op het identificeren en
        implementeren van efficiënte testscenario's.
      </p>

      <b>Welke taken hoop je te krijgen?</b>
      <p>
        Ik hoop taken te krijgen die mijn programmeervaardigheden uitdagen en tegelijkertijd mogelijkheden bieden om
        mijn testexpertise uit te breiden.
      </p>


      <b>Wat zie je als jouw uitdaging hierbij? Is dit al besproken (zo niet, welke actie ga je hier nemen)?</b>
      <p>
        Mijn uitdaging zal liggen in het vinden van een balans tussen complexe programmeertaken en het verbeteren van
        mijn testvaardigheden. Dit is nog niet specifiek besproken, maar ik ben van plan dit met mijn werkplekcoach te
        bespreken en mogelijk extra ondersteuning te zoeken om deze uitdaging aan te gaan.
      </p>

    </div>
  </div>
</div>
