<div id="ontiwkkelingsgesprekken-container">
  <div id="ontwikkeling" class="sub-container">
    <button class="download-button" onclick="downloadPdf()">Download ontwikkelingsgesprekken</button>
    <img alt="screenshot ontwikkelingsgesprekken" src="assets/images/wpl3/ontwikkelingsgesprekken/ow1.png">
  </div>
<div id="functionering" class="sub-container">
  <button class="download-button" onclick="downloadPdf()">Download ontwikkelingsgesprekken</button>
  <img alt="screenshot ontwikkelingsgesprekken" src="assets/images/wpl3/ontwikkelingsgesprekken/ow1.png">
</div>
</div>
