<div id="ontiwkkelingsgesprekken-container">
  <div id="ontwikkeling" class="sub-container">
    <button class="download-button" (click)="downloadPdf('ontwikkeling')">Download ontwikkelingsgesprekken</button>
    <img alt="screenshot ontwikkelingsgesprekken" src="assets/images/wpl3/ontwikkelingsgesprekken/ow1.png">
  </div>
  <div id="functionering" class="sub-container">
    <button class="download-button" (click)="downloadPdf('functionering')">Download functioneringsgesprekken</button>
    <div class="image-container">
      <img alt="screenshot ontwikkelingsgesprekken" src="assets/images/wpl3/functioneringsgesprekken/fg1.png">
      <img alt="screenshot ontwikkelingsgesprekken" src="assets/images/wpl3/functioneringsgesprekken/fg2.png">
    </div>
    <div class="image-container">
      <img alt="screenshot ontwikkelingsgesprekken" src="assets/images/wpl3/functioneringsgesprekken/fg3.png">
      <img alt="screenshot ontwikkelingsgesprekken" src="assets/images/wpl3/functioneringsgesprekken/fg4.png">
    </div>
    <div class="image-container">
      <img alt="screenshot ontwikkelingsgesprekken" src="assets/images/wpl3/functioneringsgesprekken/fg5.png">
      <img alt="screenshot ontwikkelingsgesprekken" src="assets/images/wpl3/functioneringsgesprekken/fg6.png">
    </div>
    <div class="image-container">
      <img alt="screenshot ontwikkelingsgesprekken" src="assets/images/wpl3/functioneringsgesprekken/fg7.png">
      <img alt="screenshot ontwikkelingsgesprekken" src="assets/images/wpl3/functioneringsgesprekken/fg8.png">
    </div>
  </div>
</div>
