.content {
    margin: 0px;
}

h1, h2 {
    color: #F0F1F2;
}

li {
    color: #2b2b2b;
}

.portfolio-pagina {
    margin-left: 20%;
    margin-right: 0%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.linkse-balk {
    background-color: #5259D9;
    position: sticky;
    height: 100vh;
    width: 20%;
    top: 0;
    left: 0;
    float: left;
}

.linkse-balk ul {
    list-style-type: none;
    padding: 0;
    margin: 50px 0px;
}

.linkse-balk li {
    width: 100%;
    transition: all 0.7s;

}

.linkse-balk h2 {

    padding: 25px;
    margin: 0;
}

.linkse-balk li:hover {
    background-color: #2f3492;
}

.linkse-balk a {
    text-decoration: none;
}




#opdrachten h1 {
    background-color: #5259D9;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 75% 100%, 0% 100%);
    border-radius: 5px;
    font-weight: 500;
    padding: 2%;
    margin: 5% 0%;
}

#opdrachten h2 {
    color: #2b2b2b;
    margin: 20px 10px;
}

#opdrachten h3 {
    color: #2b2b2b;
    margin: 10px;
}

#opdrachten p {
    color: #2b2b2b;
    line-height: 2em;
    text-align: justify;
}

.opdrachten-mobile {
    display: none;
    color: #2b2b2b;
    line-height: 2em;
    text-align: justify;
}

#opdrachten, #logboek, #competenties, #reflectie {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#logboek h1 {
    background-color: #5259D9;
    clip-path: polygon(10% 100%, 75% 100%, 100% 100%, 100% 0%, 0% 0%);
    border-radius: 5px;
    text-align: end;
    font-weight: 500;
    padding: 2%;
    margin-bottom: 10%;
}

#logboek h3 {
    color: #2b2b2b;
    margin: 10px;
}

#logboek img {
    width: 70%;
    align-self: center;
    box-shadow: 0px 0px 5px #2b2b2b;
    transition: all 0.3s;
}

#logboek img:hover {
    width: 80%;
}

#presentatie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#presentatie h2 {
  margin: 5% 0;
  color: #2b2b2b;
}

#presentatie-button {
  padding: 1%;
  border-radius: 5px;
  transition: all 0.1s;
}

#presentatie-button:hover {
  background-color: #5259D9;
  transition: all 0.3s;
  color: #ffffff;
  box-shadow: 2px 2px 0px #2b2b2b;
}

#competenties h1 {
    background-color: #5259D9;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 75% 100%, 0% 100%);
    border-radius: 5px;
    font-weight: 500;
    padding: 2%;
    margin-top: 5%;
}

#competenties h4 {
    color: #2b2b2b;
    margin: 10px 0px;
}

#competenties h2 {
    color: black;
    margin: 20px 10px;
}

#competenties p, a {
    color: #2b2b2b;
    line-height: 2em;
    text-align: justify;
}

.competentiesUitleg {
    margin: 10px;
}

fa-icon {
    color: #5259D9;
    margin-right: 10px;
}

#reflectie h1 {
    background-color: #5259D9;
    clip-path: polygon(10% 100%, 75% 100%, 100% 100%, 100% 0%, 0% 0%);
    border-radius: 5px;
    text-align: end;
    font-weight: 500;
    padding: 2%;
    margin-bottom: 10%;
}

#reflectie h2 {
  color: #2b2b2b;
}

#reflectie p{
    color: #2b2b2b;
    line-height: 2em;
    text-align: justify;
}


@media screen and (max-width: 1150px) {

    #unity-container,
    .linkse-balk {
        display: none;
    }

    .portfolio-pagina {
        margin: auto;
    }

    .opdrachten-mobile {
        display: block;
    }
}
