<div class="linkse-balk">
  <ul>
    <a href="#opdrachten"><li><h2>Opdrachten</h2></li></a>
    <a href="#logboek"><li><h2>Logboek</h2></li></a>
    <a href="#competenties"><li><h2>Competenties</h2></li></a>
    <a href="#ontwikkeling"><li><h2>Ontwikkeling</h2></li></a>
  </ul>
</div>
<div class="portfolio-pagina">
  <div class="opdrachten" id="opdrachten">
    <h1>Opdrachten</h1>
    <!-- <ul>
      <li>POP Planning</li>
      <li>POP evalutatie</li>
      <li>Web Project</li>
      <li>C# Project</li>
      <li>Reflectie learning path</li>
    </ul> -->
    <div id="unity-container" class="unity-desktop platformer">
      <canvas id="unity-canvas" ></canvas>
      <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
          <div id="unity-progress-bar-full"></div>
        </div>
      </div>
      <div id="unity-warning"> </div>
      <div id="unity-footer">
        <div id="unity-fullscreen-button"></div>
        <div id="unity-build-title">Portfolio Platformer</div>
      </div>
    </div>
  </div>
  
  <div id="logboek">
    <h1>Logboek</h1>
    <img src="../../assets/programmeren_jaarplanning-1.png" alt="Jaarplanning">
  </div>
  
  <div id="competenties">
    <h1>Competenties</h1>
    waar sta je momenteel?
    wat lukt je al goed?
    wat lukt je nog niet
  </div>
  
  <div id="ontwikkeling">
    <h1> Ontwikkelingsgesprekken</h1>
  </div>
</div>

