<div class="linkse-balk">
  <ul>
    <li><h2><a href="#opdrachten">Opdrachten</a></h2></li>
    <li><h2><a href="#logboek">Logboek</a></h2></li>
    <li><h2><a href="#competenties">Competenties</a></h2></li>
    <li><h2><a href="#ontwikkeling">Ontwikkeling</a></h2></li>
  </ul>
</div>
<div class="portfolio-pagina">
  <div class="opdrachten" id="opdrachten">
    <ul>
      <li>POP Planning</li>
      <li>POP evalutatie</li>
      <li>Web Project</li>
      <li>C# Project</li>
      <li>Reflectie learning path</li>
    </ul>
    <div id="unity-container" class="unity-desktop platformer">
      <canvas id="unity-canvas" ></canvas>
      <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
          <div id="unity-progress-bar-full"></div>
        </div>
      </div>
      <div id="unity-warning"> </div>
      <div id="unity-footer">
        <div id="unity-fullscreen-button"></div>
        <div id="unity-build-title">Portfolio Platformer</div>
      </div>
    </div>
  </div>
  
  <div id="logboek">
    <h1>Logboek</h1>
  </div>
  
  <div id="competenties">
    <h1>Competenties</h1>
    waar sta je momenteel?
    wat lukt je al goed?
    wat lukt je nog niet
  </div>
  
  <div id="ontwikkeling">
    <h1> Ontwikkelingsgesprekken</h1>
  </div>
</div>

