<div class="container">
    <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
        <h2 class="text-center mb-5">Contact</h2>
        <div class="form-group">
            <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"
                formControlName="Email">

        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
        </div>
        <div class="form-group">
            <textarea class="form-control commentarea" formControlName="Comment" name="Comment"
                placeholder="Let me know what you think"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="submit" [disabled]="!FormData.valid">Submit</button>
        </div>
    </form>
</div>