<div class="MottigeTabel">
    <table>
        <thead>
            <!-- header row -->
            <tr>
                <th>Company</th>
                <th>Years active</th>
                <th>Job Title</th>
            </tr>
        </thead>
        <tbody>
            <tr (mouseenter)="RijTc()">
                <td>Thai Cafe</td>
                <td>2020 - Now</td>
                <td>Driver & Bartender</td>
            </tr>
            <tr (mouseenter)="RijBpost()">
                <td>Bpost</td>
                <td>2021 - 2021</td>
                <td>Student mailman</td>
            </tr>
            <tr (mouseenter)="RijPauwels()">
                <td>Profile Pauwels</td>
                <td>2013 - 2019</td>
                <td>Bike mechanic</td>
            </tr>
            <tr (mouseenter)="RijSpeel()">
                <td>Speelplein De Boomhut</td>
                <td>2021 - 2021</td>
                <td>Volunteer caretaker for children with disabilities</td>
            </tr>
            <tr (mouseenter)="RijKarting()">
                <td>Karting Lommel</td>
                <td>2017 - 2018</td>
                <td>Kart mechanic</td>
            </tr>

        </tbody>
    </table>


</div>

<div class="werkuitleg">
    <p *ngIf="TC">
        At Thai Cafe, I started out driving around delivering TakeAway orders. After a
        couple of months though my employer asked me if I would be interested in helping behind the
        bar
        and serving plates to the tables. I very much enjoy helping where I can and having contact
        with
        the customers.
    </p>

    <p *ngIf="Bpost">
        I applied for a single-month student job in the summer, but due to a shortage of
        mailmen,
        my employer asked me if I could stay for four months. It was a pretty intense work schedule
        with
        a lot of pressure and not a lot of guidance. It took me a couple of weeks to get used to the
        job
        and find the right ways of getting all letters and packages delivered within my paid time,
        but
        once I got the hang of it, the job turned out to be pretty fun in its own way.
    </p>

    <p *ngIf="Pauwels">
        For my years at Pauwels, I am grateful for all the learning experiences my
        employer
        and colleagues gave me. Not only did I learn to work the mechanics of bikes, but first and
        foremost I
        got hands-on experience talking to customers and honing my social skills. Due to my moving
        to
        Hasselt, I had to give up this student job, but it will always be an important part of my
        early
        work experience.
    </p>

    <p *ngIf="Speel">
        This was one of the more random jobs I got into. A friend of mine asked me if
        I
        would be interested in helping him out with a summer camp for children with disabilities. At
        first
        I didn't feel comfortable with the idea because I felt like I could do more harm than good,
        but
        he assured me I would be okay. After getting to know the children and their little quirks, I
        had
        an awesome time caring for and playing with them.
    </p>

    <p *ngIf="Karting">
        Coming from my interest in mechanics, I got a position as a kart mechanic at my
        local
        karting circuit during summer vacation. Even though it was pretty fun working there, I chose
        my job at the bicycle shop when school started again.< </p>
</div>