.MottigeTabel {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 95%;
  border: 3px solid #5259D9;
  margin: 30px 0px;
  transition: all 0.3s;
}

table:hover {
  box-shadow: 0px 0px 6px #2b2b2b;
}

thead > tr {
  background-color: #5259D9;
  color: #F0F1F2;
  text-align: left;
}

thead th {
  padding: 15px 10px;
}

tbody td {
  padding: 20px 10px;
}

tbody > tr:nth-of-type(even) {
  background-color: #A7ABF2;
}

tbody tr:hover{
  color: #5259D9;
}

.werkuitleg {
  color: #5259D9;
}

p {
  color: #2b2b2b;
}