<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio - Robbe van Hoppe</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&family=Ubuntu:wght@500&display=swap"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/d0a57e56c0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <nav>
    <ul>
      <li class="logo" id="baritem"><a href="https://www.pxl.be/">
          <h3>PXL</h3>
        </a></li>
      <li id="baritem">
        <h3 (click)="ClickResume()">Curiculum</h3>
      </li>
      <li id="baritem">
        <h3 (click)="ClickProjects()">Portfolio</h3>
      </li>
      <li id="baritem">
        <h3 (click)="ClickWPL3()">WPL3</h3>
      </li>
      <li id="baritem">
        <h3 (click)="ClickContact()">Contact</h3>
      </li>
    </ul>
  </nav>

  <div class="mobielnav">
    <a class="logobar" (click)="ClickResume()" >Robbe vH</a>
    <div id="items" *ngIf="mobielNavIsClicked">
      <a (click)="ClickProjects()">Portfolio</a>
      <a (click)="ClickContact()">Contact Form</a>
      <a href="https://www.pxl.be/">PXL Website</a>
    </div>
    <a id="burger" class="icon" (click)="DropDown()">
      <em class="fa fa-bars"></em>
    </a>
  </div>

  <div class="content">
    <portfolio-ResumePagina *ngIf="resumeIsClicked" class="resume-pagina"></portfolio-ResumePagina>
    <projects-portfolio *ngIf="projectsIsClicked" class="projects-pagina"></projects-portfolio>
    <portfolio-ContactPagina *ngIf="contactIsClicked" class="contact-pagina"></portfolio-ContactPagina>
    <wpl3 *ngIf="wpl3IsClicked"></wpl3>

  </div>

  <footer>
        <h6>Robbe van Hoppe - 1PROK</h6>
        <a href="#"><fa-icon [icon]="faAnglesUp" class="AnglesUp"></fa-icon></a>
        <h6>Opdracht Curriculum Vitae</h6>
</footer>
</body>

</html>
