<div id="opdrachten-container">
  <div id="pitch" class="sub-container">
    <button class="download-button" (click)="downloadPdf('pitch')">Download Pitch</button>
    <div class="image-container">
      <img alt="screenshot pitch" src="assets/images/wpl3/opdrachten/pitch/pitch2.png">
      <img alt="screenshot pitch" src="assets/images/wpl3/opdrachten/pitch/pitch1.png">
    </div>
    <div class="image-container">
      <img alt="screenshot pitch" src="assets/images/wpl3/opdrachten/pitch/pitch3.png">
      <img alt="screenshot pitch" src="assets/images/wpl3/opdrachten/pitch/pitch4.png">
    </div>
  </div>
  <div id="probleem" class="sub-container">
    <button class="download-button" (click)="downloadPdf('probleem')">Download Probleemsituatie</button>
      <img alt="screenshot pitch" src="assets/images/wpl3/opdrachten/probleemsituatie/prob.png">
  </div>
</div>
