<!-- blad -->
<div class="container">

    <!-- Gekleurde zijblak -->
    <div class="zijbalk">
        <div class="fotoblok">
            <a href="https://www.linkedin.com/in/robbe-van-hoppe-18b685244/"><img class="profielfoto"
                    src="../../assets/images/profielfoto2.jpg" alt="Profielfoto" /></a>
            <h1>Robbe van Hoppe</h1>
            <h3>Student Programmer</h3>
        </div>

        <div class="opleidingblok">
            <h1>Schooling</h1>

            <div class="opl">
                <h3>Associates degree Programming</h3>
                <h4>PXL University</h4>
                <h4>2022 - now</h4>
            </div>

            <div class="opl">
                <h3>Bachelor degree ICT</h3>
                <h4>Thomas More</h4>
                <h4>2018 - 2020</h4>
            </div>


        </div>

        <div class="hr"></div>

        <div class="skillblok">
            <h1>Soft Skills</h1>

            <div class="skill">
                <h3>Talking to Customers</h3>
                <h3>Appetite for learning</h3>
                <h3>Leadership</h3>
                <h3>Stress Resilient</h3>
            </div>
        </div>

        <div class="hr"></div>

        <div class="interesseblok">
            <h1>Interests</h1>

            <div class="int">
                <h3>Rock Climbing</h3>
                <h3>Plant Care</h3>
            </div>
            <div class="int">
                <h3>Home Lab</h3>
                <h3>Web Design</h3>
            </div>
            <div class="int">
                <h3>Jazz</h3>
                <h3>Coffee</h3>
            </div>
        </div>

        <div class="hr"></div>


        <div class="contactblok">
            <h1>Contact Me</h1>
            <ul class="contactlijst">
                <li class="email"><a href="mailto: robbevanhoppe@outlook.com"><fa-icon [icon]="envelope"></fa-icon></a>
                </li>
                <li class="phone"><a href="tel:0032456182501"><fa-icon [icon]="phone"></fa-icon></a>
                </li>
                <li class="website"><a href="https://portfolio.robbevanhoppe.be/"><fa-icon [icon]="globe"></fa-icon></a>
                </li>
                <li class="linkedin"><a href="https://www.linkedin.com/in/robbe-van-hoppe-18b685244/"><fa-icon
                            [icon]="linkedIn"></fa-icon></a>
                </li>
            </ul>
        </div>


    </div>

    <!-- Witte pagina met tekst -->
    <div class="resume">
        <div class="beschrijving">
            <div class="blauwebalk">
                <h1>Who am I</h1>
            </div>

            <div class="hr"></div>
            <p class="description">
                I would like to describe myself as a person who is eager to learn and develop his skills.
                During my free time, I spend a lot of time on Pluralsight learning new skills to add to my set.
                As a
                kid, I used to love experimenting with electronics, disassembeling old amplifiers, RC cars and
                planes and making them into new Frankenstein devices. When I got my first job, most of my money
                was
                spend on hardware for building a PC and that's where my IT journey started. I got hands on
                experience with making a hackingtosh, swapping every component, installing Linux, crashing the
                system a couple of times and fixing it. At the time it felt like having a new world opening, the
                possibilities where endless. Now those years pay off in terms of the experience on system
                administration. There is still much to learn in the system domain, but of course my main
                interest is
                programming.
                I started my journey in 5th grade back in high school, the usual introduction to web
                development,
                Java, OOP in Visual Basic, etc. After completing two years of high school, I dropped out for a
                non
                IT-related job which I thought would be giving me enough sattisfaction, but after a couple of
                years,
                I felt like I missed programming too much and I enrolled in a undergraduate degree in Programming
                at
                PXL.
            </p>
        </div>


        <div class="werkervaring">
            <div class="blauwebalk">
                <h1>Job Experiences</h1>
            </div>

            <div class="hr"></div>
            <resume-tabel></resume-tabel>
            <div class="werkuitleg-mobile">
                <div class="kaartje" *ngIf="kaartjes[0]">
                    <div class="kaarthoofding">Thai Cafe</div>
                    <p class="kaartTekst">At Thai Cafe, I started out driving around delivering TakeAway orders. After a
                        couple of months though my employer asked me if I would be interested in helping behind the
                        bar
                        and serving plates to the tables. I very much enjoy helping where I can and having contact
                        with
                        the customers.</p>
                </div>

                <div class="kaartje" *ngIf="kaartjes[1]">
                    <div class="kaarthoofding">Bpost</div>
                    <p class="kaartTekst">I applied for a single-month student job in the summer, but due to a shortage
                        of
                        mailmen,
                        my employer asked me if I could stay for four months. It was a pretty intense work schedule
                        with
                        a lot of pressure and not a lot of guidance. It took me a couple of weeks to get used to the
                        job
                        and find the right ways of getting all letters and packages delivered within my paid time,
                        but
                        once I got the hang of it, the job turned out to be pretty fun in its own way.</p>
                </div>

                <div class="kaartje" *ngIf="kaartjes[2]">
                    <div class="kaarthoofding">Profile Pauwels</div>
                    <p class="kaartTekst">For my years at Pauwels, I am grateful for all the learning experiences my
                        employer
                        and colleagues gave me. Not only did I learn to work the mechanics of bikes, but first and
                        foremost I
                        got hands-on experience talking to customers and honing my social skills. Due to my moving
                        to
                        Hasselt, I had to give up this student job, but it will always be an important part of my
                        early
                        work experience.</p>
                </div>
                <div class="kaartje 3" *ngIf="kaartjes[3]">
                    <div class="kaarthoofding">Speelplein de Boomhut</div>
                    <p class="kaartTekst">This was one of the more random jobs I got into. A friend of mine asked me if
                        I
                        would be interested in helping him out with a summer camp for children with disabilities. At
                        first
                        I didn't feel comfortable with the idea because I felt like I could do more harm than good,
                        but
                        he assured me I would be okay. After getting to know the children and their little quirks, I
                        had
                        an awesome time caring for and playing with them.</p>
                </div>
                <div class="kaartje 4" *ngIf="kaartjes[4]">
                    <div class="kaarthoofding">Karting Lommel</div>
                    <p class="kaartTekst">Coming from my interest in mechanics, I got a position as a kart mechanic at
                        my
                        local
                        karting circuit during summer vacation. Even though it was pretty fun working there, I chose
                        my job at the bicycle shop when school started again.</p>
                </div>
            </div>

        </div>

        <div class="hardskills">
            <div class="blauwebalk">
                <h1>Hard Skills</h1>
            </div>

            <div class="hr"></div>

            <!-- Balkjes, ja deze komen half van W3 schools, maar de javascript is wel aangepast naar mijn eigen use case -->
            <div class="hardsk">
                <h3>Web Design</h3>
                <resume-skillbalkje [maxWidth]=90></resume-skillbalkje>


                <p>
                    My journey in web design started back in high school, where I was introduced to the basics of
                    HTML, CSS/SASS, Javascript and PHP. In university, I came into contact with version control
                    through Git and learned how to use frameworks like Bootstrap effectively. At PXL, I used
                    Pluralsight courses to get to grips with angular, which I really enjoyed. During my second semester, 
                    I used Vue for a webshop project. 
                </p>
            </div>

            <div class="hardsk">
                <h3>.NET</h3>
                <resume-skillbalkje [maxWidth]=70></resume-skillbalkje>


                <p>
                    C# is an incredibly versatile and powerful programming language that I have come to love using over the years. 
                    Its syntax is clean and easy to understand, making it an ideal language for developing a wide range of 
                    applications, from WPF desktop apps to APIs and mobile apps. What I particularly appreciate about C# is how it 
                    allows me to create complex software with relative ease, thanks to its intuitive object-oriented programming structure.
                    Overall, I dfeel that C# is a language that perfectly fits my style of programming,
                     and I look forward to continuing to use it for many years to come.
                </p>
            </div>

            <div class="hardsk">
                <h3>Data & SQL</h3>
                <resume-skillbalkje [maxWidth]=60></resume-skillbalkje>

                <p>
                    SQL is one of the less interesting courses, but it is a vital part of making basically any
                    sort of application that has to store data. Though I don't really like working with the language, I
                    am able to do basic selections, subquerries and functions. I also know the normalisation steps and 
                    I am able to do basic database manipulation through updates, deletes and altering constraints.
                </p>
            </div>

            <div class="hardsk">
                <h3>Linux Arch/Debian/Red Hat</h3>
                <resume-skillbalkje [maxWidth]=70></resume-skillbalkje>

                <p>
                    I have a good amount of experience with Linux, dating back to my high school days when I first 
                    installed Ubuntu. Nowadays, I use Arch Manjaro as my primary operating system on my 
                    laptop, and I've also been running a Debian/Proxmox based server at home for some time now with CentOS and 
                    Ubuntu containers. I've 
                    always been fascinated by the possibilities that Linux offers, and I'm eager to continue exploring 
                    and expanding my skills in this area.
                </p>
            </div>

            <div class="hardsk">
                <h3>Docker</h3>
                <resume-skillbalkje [maxWidth]=60></resume-skillbalkje>

                <p>
                    In my homelab I test out all the technologies I hear about, one of the first things I got my hands on were
                    docker containers. I really like the idea behind containerization and the security around it.
                </p>
            </div>

            <div class="hardsk">
                <h3>Ansible</h3>
                <resume-skillbalkje [maxWidth]=60></resume-skillbalkje>

                <p>
                    I am not great with SQL and database structures, but it is a vital part of making basically any
                    sort of website that has to store data. Though I don't really like working with the language, I
                    am able to do basicv selections, subquerries and functions.
                </p>
            </div>

            <div class="hardsk">
                <h3>Vagrant - Packer - Terraform</h3>
                <resume-skillbalkje [maxWidth]=60></resume-skillbalkje>

                <p>
                    I am not great with SQL and database structures, but it is a vital part of making basically any
                    sort of website that has to store data. Though I don't really like working with the language, I
                    am able to do basicv selections, subquerries and functions.
                </p>
            </div>
        </div>

    </div>
</div>